h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.example-card {
  height: auto;
  margin: 20px;
  width: auto;
  width: -webkit-fill-available;
}

.school-type-name {
  font-size: 1.2em;
  font-weight: bold;
}

ul {
  margin: 0px;
}

li {
  margin: 7px 0px;
}

md-card {
  background-color: #00838F;/*#7986CB;*/
  color: #fff;
}

md-card-subtitle {
  color: #F5F5F5;
}

collapsible-header {
  background-color: #B0BEC5; /*#C5CAE9;*/
  color: #000;
  font-weight: bold;
}

collapsible-body {
  background-color: #ECEFF1; /*#E8EAF6;*/
  color: #000;
  font-weight: normal;
  padding: 1rem;
}

.title-card {
  background-color: #F5F5F5;
  color: #000;
}
