<div *ngIf="correctPassword">
  <password>
  </password>
</div>
<div *ngIf="!correctPassword">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="password" name="password">
        <button type="submit" class="btn waves-effect waves-light">Submit</button>
      </div>
    </form>
  </div>
</div>
