
<div class="row">
  <div class="col s12">
    <md-card class="title-card">
      <md-card-header>
        <md-card-title class="header-footer">{{title}}</md-card-title>
      </md-card-header>
    </md-card>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title class="school-type-name">Mainstream Schools (Inclusion)</md-card-title>
        <md-card-subtitle>Inclusion refers to having the DHH students <i>ideally</i> integrated into regular classrooms alongside hearing classmates, with all the necessary special services available to them within the classroom itself. The responsibility of the students falls onto the regular classroom teacher instead of a special educator.</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <collapsible-list [type]="'expandable'">

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Advantages
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li> DHH students tend to have higher levels of academic achievement than their peers in special schools </li>
                <li> They also shown to have better self-perceptions of reading ability than those in special classes. </li>
                <li> More chances for social interaction with their (hearing) classmates and teachers, and that, in this way, they acquire the necessary skills for social inclusion.  </li>
                <li> Although it might be hard at first, many past students reported having an improvement in their social lives as time went on, as their hearing peers got more familiar with communicating with them. </li>
                <li> A high percentage of mainstreamed DHH students reported having favourably adapted emotionally and socially, as well as in regards to their self-esteem </li>
                <li> Most former students reported having positive academic progress and social development, with their hearing peers having positive attitudes and accepting them. </li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Disadvantages
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li> Most schools had limited special services available to their DHH students, and they may struggle understanding the teacher or keeping up with classroom discussion due to this.</li>
                <li> Some students may feel uncomfortable having an interpreter or wearing hearing aids, as it could make them feel even more uncomfortable or self-conscious.</li>
                <li> Although DHH and hearing students will be in close physical proximity, there is no guarantee of social interactions. Some studies have even reported certain classes with<i> zero</i> interactions between the two.</li>
                <li> A few studies have also reported former students feeling socially isolated and ostracised from their hearing peers due to their "disability".</li>
                <li> Some also reported a lack of close friends, as their conversations with their peers were limited due to language differences.</li>
                <li> Many of the available schools only used oral language, with no Auslan education. This may lead to some DHH students feeling left out of the Deaf community as they are unable to communicate in a sign language.</li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Additional Information
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li> A majority (83%) of Australian DHH students are enrolled in mainstream schools. </li>
                <li> Extra services that may be available in mainstream schools:
                  <ul>
                    <li> Deaf units/facilities with additional classes run by specialised teachers of the deaf </li>
                    <li> Itinerant teachers of the deaf </li>
                    <li> Auslan interpreters </li>
                  </ul>
                </li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Schools in Victoria
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li><a href="http://www.willmottparkps.vic.edu.au/web/entries.php?cat=33420&sid=75035333&catname=Deaf%20Facility&schoolid=6561">Willmott Park Deaf Facility</a></li>
                <li><a href="http://www.saeps.vic.edu.au/page/57/Deaf-Facility-">St Albans East Deaf Facility</a></li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

        </collapsible-list>
      </md-card-content>
    </md-card>
  </div>

  <div class="col s6">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title class="school-type-name">Specialised Schools for the Deaf</md-card-title>
        <md-card-subtitle>Specialised schools for the deaf are schools that were designed specifically for deaf education, usually only taking in DHH students and having skilled and experienced teachers of deaf students. The schools themselves may be specially fitted with customised equipment to suit the needs of DHH students.</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <collapsible-list [type]="'expandable'">

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Advantages
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li> Staff usually have backgrounds in the education of DHH children and are experienced in that field. </li>
                <li> Studies shown that 10- to 15-year-olds reflected higher self-concepts than their peers in mainstream schools. </li>
                <li> Former students have reported having a more positive experience than their mainstreamed peers. </li>
                <li> There also seems to be a higher potential for social interactions, with many social events running throughout the school year such as such as sports, camps, and other co-curricular activities. </li>
                <li> Former students described feeling a sense of belonging and identification with their fellow DHH schoolmates. For many, this was their first exposure to the Deaf community and culture.  </li>
                <li> Staff should be experienced with group assistive listening devices, hearing aids and cochlear implants, in case the student requires any assistance with them.  </li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Disadvantages
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li> Schools tend to emphasise more on communication skills than academic course content. This resulted in various past students feeling like they got a “lower level of education” and that it was insufficient to prepare them for college. </li>
                <li> Some of these students felt as though they were one step behind everyone else. </li>
                <li> Attending a specialised school could result in the students accustomed to a closed community, and not getting used to interacting with the outside world. </li>
                <li> There are not many specialised schools available in Victoria. These schools may be too far or expensive for families to enroll their children in. </li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Additional Information
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li>
                  To avoid having the child feeling left out of their own family, their hearing family members should also try to learn sign language as an attempt to identify with the Deaf community and their DHH family member.
                </li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

          <collapsible-list-item>
            <collapsible-header class="waves-effect">
              Schools in Victoria
            </collapsible-header>
            <collapsible-body [expanded]="false">
              <ul>
                <li><a href="http://www.vcd.vic.edu.au/">Victorian College for the Deaf</a></li>
                <li><a href="http://www.furlongpark.vic.edu.au/">Furlong Park School for Deaf Children</a></li>
              </ul>
            </collapsible-body>
          </collapsible-list-item>

        </collapsible-list>
      </md-card-content>
    </md-card>
  </div>
</div>
<!-- <button md-raised-button color="primary">Parents</button> -->

<div class="row">
  <div class="col s12">
    <md-card class="title-card">
      <md-card-header>
        <md-card-title class="header-footer">References</md-card-title>
      </md-card-header>
      <md-card-content>
        <ul>
          <li>
            Angelides, P., &amp; Aravi, C. (2006). A comparative perspective on the experiences of deaf and hard of hearing individuals as students at mainstream and special schools. American Annals Of The Deaf, 151(5), 476-487.
          </li>
          <li>
            Farrugia, D., &amp; Austin, G. F. (1980). A Study of Social-Emotional Adjustment Patterns of Hearing-Impaired Students in Different Educational Settings. American Annals Of The Deaf, 125(5), 535-41.
          </li>
          <li>
            Foster, S. (1989). Reflections of a Group of Deaf Adults on their Experiences in Mainstream and Residential School Programs in the United States. Disability, Handicap &amp; Society, 4(1), 37-56.
          </li>
          <li>
            Hadjikakou, K. (2002). The social adaptation and emotional development of deaf children in mainstream schools. Paper presented at the conference of the Cyprus Educational Association, Nicosia.
          </li>
          <li>
            Hyde, M., &amp; Power, D. (2004). Inclusion of deaf students: An examination of definitions of inclusion in relation to findings of a recent Australian study of deaf students in regular classes. Deafness &amp; Education International, 6(2), 82-99.
          </li>
          <li>
            Miller, K. J. (2015). Don't Know Much About Hearing Loss: Supervising Teachers of Students Who Are Deaf or Hard-of-Hearing. Journal Of Special Education Leadership, 28(1), 14-24.
          </li>
          <li>
          </li>
        </ul>
      </md-card-content>
    </md-card>
  </div>
</div>
<!-- <ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
</ul> -->
