h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.example-card {
  height: auto;
  margin: 20px;
  width: auto;
  width: -webkit-fill-available;
}

.school-type-name {
  font-size: 1.2em;
  font-weight: bold;
}

ul {
  margin: 0px;
}

li {
  margin: 7px 0px;
}

md-card {
  background-color: rgba(255, 255, 255, 0.7);/*#00838F;#7986CB;*/
}

md-card-subtitle {
  color: #000;/*#F5F5F5;*/
}

md-card-content {
  margin: 0px 8px;
}

collapsible-header {
  background-color: rgba(1,87,155,0.8); /*#B0BEC5; */
  color: #fff;
  font-weight: bold;
  text-shadow: #777 0.5px 1px;
}

collapsible-body {
  background-color: #ECEFF1; /*#E8EAF6;*/
  color: #000;
  font-weight: normal;
  padding: 1rem;
}

.title-card {
  background-color: rgba(255, 255, 255, 0.8);/*#F5F5F5;*/
  color: #000;
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;
}

.header-footer {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.mat-card-header-text {
  margin: 0 auto;
}
