/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~materialize-css/dist/css/materialize.min.css';

body {
  background: url("https://source.unsplash.com/OyCl7Y4y0Bk") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
}

a {
  color: #3176ac;
}

.container {
  margin-top: 15%;
  width: 30%;
}
